
.post {

  border-left: 1px dotted silver;

  
  
}

p:hover {
    text-decoration: none;
  }

  li:hover {
    text-decoration: none;
  }

  .post-title {
      text-transform: uppercase;
      font-size: 1.7rem;
      color: #5d93ff;
  }

.time-read {
  text-transform: uppercase;
  font-weight: 600;
}

    .post {
      padding: 2rem;
    }
    
   .post a {
    color: #5d93ff;
   }


 .post img {
     padding-top: 1em;
     padding-bottom: 1em;
     width: 100%;
    
 }

 
 @media only screen and (max-width: 600px) {
 
 .post {
  
  border-left: none;
 

 };
 

  
}


  

