
.content {
 
   padding: 2rem;
}
a:hover {
   text-decoration: none;
  
}


 form {
    margin-top: 20px;
   

 }


 input[type=text] {
   padding:10px;
   margin:10px 0; 
   border:0;
  box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
  font-family:inherit;
  font-size: inherit;
 

 
}
 textarea {
   display: block;
   padding:10px;
   border:0;
   box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
   font-family:inherit;
   font-size: inherit;
   resize: none;
   height:100px;
   width: 400px;

 }



 .special {
    color: #5d93ff;
    border:0;
    box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
    font-family:inherit;
    background-color: white;
    padding: 10px 5px;
    width: 180px;
 }

 .special:hover {
   background-color: #5d93ff;
   color: white;
 }


